{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<script type="text/javascript" src="{% static 'scripts.js' %}"></script>
{% endblock %}

{% block content %}
<div id="outer-container">
    <!-- This is the left sidebar holding the search filters -->
	<div id="sidebar">
        <h3>Welcome!</h3>
        <h5>Please select the traits you'd like in your dog.</h5>
        <br>
        <form method="POST" id="form1">

            {% csrf_token %}

            <fieldset>
                <legend>Location</legend>
                City <br>
                <input type="text" name="city"><br>
                <!-- ### Need to update state to drop down with Django's tags-->
                State <br>
                <input type="text" name="state"><br>
                Zip <br>
                <input type="text" name="zipcode" id = "zipcode"><br><br>
            </fieldset>
            <fieldset>
                <legend>Physical Traits</legend>
                Sex <br>
                <input type="radio" name="sex" value="either"> Either<br>
                <input type="radio" name="sex" value="f"> Female<br>
                <input type="radio" name="sex" value="m"> Male<br><br>
                Color <br>
                <input type="text" id="color"><br><br>
                Height range <br>
                <select id="height-opt">
                    <option name="height" value="any">No preference</option>
                    <option name="height" value="short">Less than 2 ft.</option>
                    <option name="height" value="average">2 - 3 ft.</option>
                    <option name="height" value="tall">More than 3 ft.</option>
                </select><br><br>
                Weight range <br>
                <select id="weight-opt">
                    <option name="weight" value="any">No preference</option>
                    <option name="weight" value="small">Less than 25 lbs</option>
                    <option name="weight" value="medium">25 - 50 lbs</option>
                    <option name="weight" value="large">Greater than 50 lbs</option>
                </select><br><br>
                Eye color <br>
                <select id="eye-color-opt">
                    <option name="eye_color" value="any">No preference</option>
                    <option name="eye_color" value="black">Black</option>
                    <option name="eye_color" value="brown">Brown</option>
                    <option name="eye_color" value="grey">Grey</option>
                    <option name="eye_color" value="green">Green</option>
                    <option name="eye_color" value="blue">Blue</option>
                    <option name="eye_color" value="yellow">Yellow</option>
                </select><br><br>
                <div class="true-false-opt">
                    <select id="hypoallergenic-opt">
                        <option value="1" selected="selected">----</option>
                        <option value="2">True</option>
                        <option value="3">False</option>
                    </select>
                    Hypoallergenic
                </div>
                <div class="true-false-opt">
                    <select id="shedding-opt">
                        <option value="1" selected="selected">----</option>
                        <option value="2">True</option>
                        <option value="3">False</option>
                    </select>
                    Shedding
                </div><br>
            </fieldset>
            <fieldset>
                <legend>Personality Traits</legend>
                <div class="true-false-opt">
                    <select id="friendly-opt">
                        <option value="1" selected="selected">----</option>
                        <option value="2">True</option>
                        <option value="3">False</option>
                    </select>
                    Friendly
                </div>
                <div class="true-false-opt">
                    <select id="kid-friendly-opt">
                        <option value="1" selected="selected">----</option>
                        <option value="2">True</option>
                        <option value="3">False</option>
                    </select>
                    Kid Friendly
                </div>
                <div class="true-false-opt">
                    <select id="likes-water-opt">
                        <option value="1" selected="selected">----</option>
                        <option value="2">True</option>
                        <option value="3">False</option>
                    </select>
                    Likes Water
                </div>
                <div class="true-false-opt">
                    <select id="likes-cars-opt">
                        <option value="1" selected="selected">----</option>
                        <option value="2">True</option>
                        <option value="3">False</option>
                    </select>
                    Likes Cars
                </div>
                <div class="true-false-opt">
                    <select id="socialized-opt">
                        <option value="1" selected="selected">----</option>
                        <option value="2">True</option>
                        <option value="3">False</option>
                    </select>
                    Socialized
                </div>
                <div class="true-false-opt">
                    <select id="resuce-animal-opt">
                        <option value="1" selected="selected">----</option>
                        <option value="2">True</option>
                        <option value="3">False</option>
                    </select>
                    Rescue Animal
                </div><br>
            </fieldset>
            <input class="button1" type="reset" value="RESET">
            <input class="button1" type="submit" value="SEARCH" id = "submit">
        </form>
    </div>
	<div id="content">
        <h3>Dog Matchmaking Search Results</h3>
        <hr>
        <button class="displayButton" onclick="tileView()"><img class="displayImg" src="https://d30y9cdsu7xlg0.cloudfront.net/png/1544627-200.png"></button>
        <button class="displayButton" onclick="listView()"><img class="displayImg" src="https://d30y9cdsu7xlg0.cloudfront.net/png/576517-200.png" ></button>
        <br>
        <div id="results"></div>
    </div>
</div>    
{% endblock %}
