input[type=submit], input[type=reset] {
    padding: 10px 20px;
    margin: 10px 10px 10px 0px;
    width: 100px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

input[type=submit]:hover {
    color: blue;
    border-color: blue;
}

input[type=reset]:hover {
    color: black;
    border-color: black;
}

#outer-container {
	display: table;
	width: 100%;
	height: 100%;
}

#sidebar {
	display: table-cell;
	width: 25%;
	vertical-align: top;
    padding: 20px;
    background-color: azure; 
}

#content {
	display: table-cell;
	width: 75%;
	vertical-align: top;
    padding: 20px;
}

.true-false-opt {
    margin-top: 2px;
    margin-bottom: 2px;
}

.displayButton {
    margin-left: 20px;
    background-color: gainsboro;
    border: none;
    float: right; 
}

.displayButton:hover {
    background-color: #9f9f9f;
}

.displayImg {
    max-width: 35px;
    padding: 3px;
}

#results {
    padding-left: 40px;
    margin-top: 20px;
}

.dogContainer {
    float: left;
    width: 100%;
    padding: 15px;
}